.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #535bf2;
  border-radius: 8px;
  background-color: #213547;
}
.modalImg {
  border-radius: 8px;
  max-height: 70vh;
  max-width: 70vw;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.7);
}
.modalContent {
  position: relative;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
